
.disabledHighlight{
  -webkit-user-select: none;
}
html{
  height: 100%;
}
#ChatDiv{
  width: 17%;
  /* padding-right: 1%; */
  height: 103%;
}
body {
  overflow-y: hidden;
  background-color: #0e4e43;
  overflow-x: hidden;
  width: 100%;
  height: 100%;


}
#fullPage{
  
width: 100%;
  
height: 100%;
  
background-color: #0e2f1c;
  
/* margin-left: 2%; */
  
padding-left: 2%;
}

#Image_2 {

position: absolute;

width: 106%;

top: -30px;

left: 22px;
}

.ToolsIcons{
  background-size: 84%;
  background-position-x: 55%;
  background-position-y: 40%;
  background-color: #bcdacf;
  background-repeat: no-repeat;
  border: solid #278c7a 5px;
}
#BrushSizeUP {
  background-image: url('paint-brush.png');
  background-size: 173%;
  background-position-x: 55%;
  background-position-y:-10%;
}

#BrushSizeDown {
  background-image: url('paint-brush.png');
  background-size: 43%;
  background-position-x: 55%;
  background-position-y: 40%;
}

#ColorWheel {
  background-image: url('color.png');
  background-size: 100%;
  background-position-x: 2%;
  background-position-y: 2%;
  background-repeat: no-repeat;
  width: 9.2%;
  height: 72%;
  left: 83.5%;
  top: 75%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: 100%;
  position: absolute;
}

#fullCanv {
 
background-color: #0e4e43;
 
width: 100%;
 
/* height: 100%; */
 
border-radius: 25px;
 
opacity: 30%;
 
pointer-events: none;
 
animation-fill-mode: forwards;
 
overflow: hidden;
 
padding-top: 1%;
 
padding-right: 0.5%;
 
padding-left: 0.6%;
 
border-radius: 1%;
}

#whiteDiv {
  /* border-radius: 25px; */
  /* width: 1150px; */
  /* height: 700px; */
  margin-right: 1.5%;
}

#chat {
 
  width: 325px;
  height: 480px;

}

#ColorInput {
  position: relative;
  top: -53%;
  left: 88%;
  display: inline-block;
  padding: 1em;
  margin: -1em;
  background-clip: content-box;
  width: 9.1%;
  height: 42%;
}

input[type="color"] {
  -webkit-appearance: button;
  border: cornsilk;
  width: 60px;
  height: 59px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

#container {
 width: 101%;
 overflow: hidden;
 position: relative;
 /* width: 100%; */
 /* width: 102%; */
}

#container>span {
  position: absolute;
  float: left;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

#container>div {
  position: absolute;
  height: 29px;
  width: 40px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  text-align: center;
  display: block;
  content: darkkhaki;
}

#Canvas {

float: left;

cursor:none;
}

#NameBtn {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #bbd7dc 5%, #237c8b 100%);
  background-color: #599bb3;
  border-radius: 10px;
  border: 2px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #214e5b;
  font-family: Georgia;
  font-size: 13px;
  padding: 3px 29px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #154682;
  opacity: 70%;
  filter: brightness(50%);
  pointer-events: none;

}

.NameBtnHover:hover {
  opacity: 100%;
  transform: scale(1.1);
  color: black;
  background: linear-gradient(to bottom, #a31313 5%, #ff0000 100%);
  animation: RainbowColor 10s;
  animation-iteration-count: infinite;

}

@keyframes RainbowColor {
  0% {
    background: #ff0000 100%
  }

  5% {
    background: #ff7300 100%;
  }

  10% {
    background: #ffbb00 100%;
  }

  15% {
    background: #ffee00 100%;
  }

  20% {
    background: #b3ff00 100%;
  }

  25% {
    background: #00ff0d 100%;
  }

  30% {
    background: #00ff6a 100%;
  }

  35% {
    background: #00ffc8 100%;
  }

  40% {
    background: #00d9ff 100%;
  }

  55% {
    background: #0066ff 100%;
  }

  60% {
    background: #0011ff 100%;
  }

  65% {
    background: #9900ff 100%;
  }

  70% {
    background: #d400ff 100%;
  }

  75% {
    background: #ff00ea 100%;
  }

  80% {
    background: #ff00dd 100%;
  }

  100% {
    background: #ff000d 100%;
  }

}

@keyframes RainBowB {
  0% {
    border: solid #ff0000;
    opacity: 40%
  }

  5% {
    border: solid #ff7300;
    opacity: 40%
  }

  10% {
    border: solid #ffbb00;
    opacity: 40%
  }

  15% {
    border: solid #ffee00;
    opacity: 40%
  }

  20% {
    border: solid #b3ff00;
    opacity: 40%
  }

  25% {
    border: solid #00ff0d;
    opacity: 40%
  }

  30% {
    border: solid #00ff6a;
  }

  35% {
    border: solid #00ffc8;
  }

  40% {
    border: solid #00d9ff;
  }

  55% {
    border: solid #0066ff;
  }

  60% {
    border: solid #0011ff;
  }

  65% {
    border: solid #9900ff;
  }

  70% {
    border: solid #d400ff;
  }

  75% {
    border: solid #ff00ea;
  }

  80% {
    border: solid #ff00dd;
  }

  100% {
    border: solid #ff000d;
  }

}

button#NameBtn {}

#NameBtn:active,
#SaveBtn:active,
#CommentBtn:active {
  background: linear-gradient(to top, rgb(42, 104, 121) 1%, rgb(28, 68, 73) 100%);
}

#NameBtn:visited,
#SaveBtn:visited {
  background: linear-gradient(to bottom, black 5%, black 100%);
  background: black;
}

#CommentBtn {
  position: absolute;
  right: 2.2%;
  top: 73.5%;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #bae1ef 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 10px;
  border: 2px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #214e5b;
  font-family: Georgia;
  font-size: 13px;
  /* padding: 4px 32px; */
  text-decoration: none;
  text-shadow: 0px 0px 0px #154682;
  border-radius: 8px;
  background-color: white;
  border: 4px solid #0c4e51;
  /* padding-right: 43%; */
  width: 7%;
}

#CommentBtn:hover {
  background: linear-gradient(to bottom, #13a3a3 5%, #28b1aa 100%);
  background-color: #0061a7;
}

#commentBox {
   /* right: 1.3%; */
   /* top: 80%; */
   width: 100%;
   height: 16%;
}

#chatArea {
   width: 100%;
   height: 71%;
   /* right: 0px; */
   /* opacity: 96%; */
   padding: 10p;
   background-image: url("painting-3.png");
   background-size: 81%;
   background-position-x: 29px;
   background-blend-mode: soft-light;
   background-position-y: 137px;
   background-repeat: no-repeat;
}

div#chatArea {}

.inputClass {

  box-shadow: inset 6px 10px 8px #207370;

  background-color: #9ad6cb;

  resize: none;

  outline: none;
}

#NameBtn {

  position: absolute;

  right: 24.1%;

  top: 76.5%;

  border-radius: 8px;

  background-color: white;

  border: 4px solid #0c4e51;

  width: 50%;

  height: 16%;

  font-size: 20px;
}

#SaveBtn {
  /* position: absolute; */
  /* right: 15.1%; */
  /* top: 73.5%; */
  width: 19.6%;
  padding-left: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
}


#NameBox {

font-family: cursive;

position: absolute;

right: 13%;

width: 70%;

top: 47%;

height: 42px;

font-size: 24px;

overflow-y: hidden;
}

.redSpan {
  color: #d82a2a;
  margin-left: 15px;
  margin-top: 5px;
}

.blueSpan {
  color: #4f4de7;
  margin-left: 15px;
  margin-top: 5px;
}

#UserNameDiv {

  position: absolute;
  float: left;

}

#ColorsDiv {
  background-color: #0b4139;
  /* width: 1092px; */
  height: 24%;
  /* position: absolute; */
  /* bottom: 1%; */
  /* left: 109px; */
  margin-top: 2%;
  padding-left: 4%;
  padding-right: 2%;
  width: 101%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#ColorPallet {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-auto-rows: 17%;
  gap: 4px 5px;

}

#ColorPallet>div {
  border: 2px solid #092224;

}

#ColorsDiv>div:not(#ColorWheel) {
  width: 98%;
  height: 96%;
  /* position: absolute; */
  /* left: 3.5%; */
  /* top: 6%; */
  /* margin-top: -59px; */
  /* margin-left: -289px; */
  background: #659793;
  border-radius: 5px;
  box-shadow: 5px;
  box-shadow: inset 6px 3px 27px #23736e;
  padding-top: 1;
}

.BorderStyle {
  border: 3px solid #2b8181;
}

.BorderRadius {
  border-radius: 8px;
}

#toolsDiv {
  /* background-color: rgba(38, 84, 75, 1); */
  /* position: absolute; */
  width: 5.5%;
  height: 72.2%;
  /* top: 0px; */
  /* left: 0px; */
  /* float: left; */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 16%;
  gap: 4px 2px;
  border-radius: 5px;
  /* margin-top: 10px; */
  /* margin-right: 14px; */
  /* margin-left: 2%; */
  /* border: ridge; */
  /* border: solid #1a7a72; */
}

#ArtRefs {
  /* background-color: #26544b; */
  width: 15%;
  height: 68.2%;
  /* float: left; */
  display: grid;
  grid-template-rows: 1fr;
  /* grid-auto-rows: 16%; */
  grid-auto-flow: column;
  display: -webkit-box;
  gap: 4px 7px;
  font-size: 7px;
  color: #4b9f9f;
}


a:link {
  color: #10c3bb
}

a:visited {

  color: rgb(59, 40, 126)
}

#toolsDiv>div {
  height: 100%;
  border-bottom: solid;
  /* background: #97adae; */
  /* background-blend-mode: color; */
}

#toolsDiv>div:hover {
  background-color: rgba(68, 189, 165, 0.6);
  animation: RainBowB 5s
}

@keyframes ColorDance {
  from {
    background-color: #0e4e43;
  }

  to {
    background-color: red;
  }
}

#PickANameWindow {
  width: 35%;
  position: absolute;
  height: 33%;
  background-color: #1a7a72;
  margin: 0 auto;
  top: -40%;
  left: 32%;
  text-align: center;
  font-size: -webkit-xxx-large;
  font-family: cursive;
  outline: solid;
  outline-width: 10px;
  outline-color: turquoise;
  color: #052f33;
  animation: MoveDown 0.8s;
  animation-fill-mode: forwards
}

@keyframes MoveDown {
  from {
    top: -40%;
  }

  to {
    top: 29%;
  }

}

@keyframes MoveUp {
  from {
    top: 29%;
  }

  to {
    top: -40%;
  }

}

@keyframes OpacityUp {
  from {
    opacity: 30%;
  }

  to {
    opacity: 100%;
  }

}